:root {
  --color-page-background: #fafafa;
  --color-font: black;
  --img-opacity: 1;
}

.nightmode {
  --color-page-background: #202020;
  --color-font: white;
  --img-opacity: .6;
}

* {
    transition: all .3s ease-in-out;
}

body {
  margin: 0;
  background-color: var(--color-page-background);
}

h3 {
  margin-top: 5px;
  font-family: Arial;
  text-align: center;
  opacity: .5;
  color: var(--color-font);
}

img {
  position: absolute;
  max-width: 80%;
  top: 10%;
  left: 10%;
  background-color: white;
  padding: 2px;
  box-shadow: 0 0 1vh black;
  border-radius: 5px;
  opacity: var(--img-opacity);
}

img:empty
{
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img {
    max-height: 80%;
    max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img { max-height: 90%; }
}

#links {
  display: table;
  width: 100%;
  max-width: 500px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.link {
  text-align: center;
  font-family: Arial;
  display: table-cell;
  font-size: .9em;
  opacity: .6;
  text-decoration: none;
  color: var(--color-font);
  background-color: gray;
  padding: 5px;
  user-select: none;
}

.link:hover {
  opacity: 1;
  color: white;
}

.service-link {
  cursor: 'pointer';
}
